/* *************************************************   
    GENERAL STYLES
************************************************** */
<<<<<<< HEAD
<<<<<<< HEAD
=======
@import url(https://fonts.googleapis.com/css?family=Montserrat|Lora);
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
=======
@import url(https://fonts.googleapis.com/css?family=Montserrat|Lora);
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
.wrap{
    width: 90%;
     /*for large screens*/
   /* max-width: 1400px;*/
<<<<<<< HEAD
<<<<<<< HEAD
    margin: 0 auto;
    
=======
=======
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
    margin: 0 auto;   
}
p{
    color: #000000;
    font-family: 'Lora', serif;
}

h1,h2,h3,h4,h5{
    text-align: center;
   h7 font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
=======
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
}


/* *************************************************   
HEADER
************************************************** */
#image1{
padding-left:630px;
padding-bottom:50px;
}
#image2{
  padding-left:670px;
  padding-top:160px;
}
#header{
  background-image:url("../assets/assets/h_img.jpg");
  height:140%;
  color:#ffffff;
  background-repeat:repeat;
}

h1 h4{
  text-align:center;
}

/* *************************************************   
ABOUT SECTION
************************************************** */
#about{
 background-color: #E7F2DB;
}
#about h3{
  padding-top:140px;
}
#us{
  padding-bottom:40px;
}


/* *************************************************   
SERVICES 
************************************************** */
#services{
  background-image:url("../assets/assets/s_image.jpg");
  color:#ffffff;
  padding-bottom:140px;
}
.services{
  padding-top:90px;
  padding-bottom:60px;
}
/* *************************************************   
WHAT WE DO SECTION
************************************************** */
#deed{
  padding-top:100px; 
  padding-bottom:100px;
}
#whatwedo{
 background-color:#E7F2DB;
 text-align:center;
}
#whatwedo table tr td{
  padding-left:100px;
}
/* *************************************************   
PORTFLIO SECTION
************************************************** */
#portfolio{
   margin:0 auto;
   width:90%;
}
#portfolio img{
  width:300px;
  height:300px;
}
#space{
  height:100px;
}
#contact{
background:none;
  background-image:url("../assets/assets/c_image.jpg");
  visibility:visible;
}
#space1{
  height:50px;
}
#links{
  padding-left:400px;
}
#contact table form tr td {
 visibility: visible;
  opacity:0.5;
}
textarea{
  visibility: visible;
  opacity:2;
}
<<<<<<< HEAD
<<<<<<< HEAD
    
    
}
=======
=======
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
    background-color: #ebebeb;
}

<<<<<<< HEAD
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
=======
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe




/* *************************************************   
SPEAKERS SECTION
************************************************** */
.speakers{
    padding: 80px 0px;
}


/* *************************************************   
REGISTER SECTION.
************************************************** */
.register{
    padding: 80px 0px;
    text-align: center;
}
.register form{
    
}
<<<<<<< HEAD
<<<<<<< HEAD

=======
=======
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
<<<<<<< HEAD
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe
=======
>>>>>>> f43f5c3d43250859e8defa34528984a5fd5500fe

/* *************************************************   
VENUE SECTION.
************************************************** */

.venue{
    padding: 80px 0px;
    text-align: center;
}


/* *************************************************   
QUESTIONS SECTION.
************************************************** */
.footer{
    text-align: center;
}

